*{
}
a:link{
    color: white;
    text-decoration: none;
    /*border-radius: 20px;
    border: 1px solid black;
    background: azure;
    padding: 20px*/
}
input, label{
    color: white;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
    background: url('img.jpg');
    color: black;
}
h1,p,h4,h2,h3{
    color: azure;
}
.mb-3, form-group {
    color: white;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}
.navbar {
    background-color: #000000 !important;
    color: #000000 !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.lg {
    float: right;
}